@use './tailwind.css';
@use './layout/layout.scss';
@use 'primeicons/primeicons.css';
@import './fonts/fonts.css';
@custom-variant dark (&:where(.app-dark, .my-app-dark *));

@theme {
    --font-sans: "Lato", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: "JetBrains Mono", "Courier New", monospace;
}

@layer base {
    html {
        height: 100%;
        font-size: 14px;
    }

    body {
        color: var(--text-color);
        background-color: var(--surface-ground);
        margin: 0;
        padding: 0;
        min-height: 100%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: 1.2;
    }

    a {
        text-decoration: none;
    }

    html,
    body,
    body .p-component {
        font-family: var(--font-sans);
    }
}