<div class="layout-topbar">
    <div class="layout-topbar-logo-container">
        <img src="favicon.svg" class="me-2" alt="EDNA Logo" width="40" height="40" />
        EDNA - nEtwork Device coNfiguration bAckup
    </div>
    <div class="layout-topbar-actions">
        <div class="layout-config-menu">
            <div class="relative">
                <button class="layout-topbar-action" pStyleClass="@next" enterFromClass="hidden"
                    enterActiveClass="animate-scalein" leaveToClass="hidden" leaveActiveClass="animate-fadeout"
                    [hideOnOutsideClick]="true">
                    <i class="pi pi-palette"></i>
                </button>
                <app-configurator />
            </div>
        </div>
    </div>

    @if (isAuthenticated) {
    <button class="layout-topbar-menu-button layout-topbar-action" pStyleClass="@next" enterFromClass="hidden"
        enterActiveClass="animate-scalein" leaveToClass="hidden" leaveActiveClass="animate-fadeout"
        [hideOnOutsideClick]="true">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div class="layout-topbar-menu hidden lg:block">
        <div class="layout-topbar-menu-content">
            <button type="button" class="layout-topbar-action" (click)="logout()">
                <i class="pi pi-sign-out"></i>
                <span>Logout</span>
            </button>
        </div>
    </div>
    }
</div>